body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	width: 100%;
	outline: none !important;
	background: #000;
	color: #fff;
}

a {
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	outline: none !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	position: absolute;
	content: "";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

button,
input,
textarea,
select {
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	position: relative;
	font-size: 14px;
	line-height: 1.6;
	margin: 10px 0;
}

.container {
	width: 100%;
	padding: 0 250px;
	margin: 0 auto;
	position: relative;
}


/* -------------------------------- 

header

-------------------------------- */
header {
	position: fixed;
	background: transparent;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

header.shrink {
	background: rgba(0, 0, 0, 0.75);
}

.flex-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px;
}

.logo {
	position: relative;
	width: 190px;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.logo img {
	width: 100%;
}

.shrink .logo {
	width: 120px;
}

.header-link {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.nav {
	display: flex;
	align-items: center;
}

.nav li {
	font-size: 12px;
	font-weight: 700;
	margin-left: 45px;
	text-transform: uppercase;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.shrink .nav li {
	font-size: 10px;
}

.nav li a {
	position: relative;
	display: block;
	color: #fff;
}

.nav li a.active {
	color: #FB5B21;
}

.nav li a:before {
	width: 0;
	height: 1px;
	background: #FB5B21;
	bottom: -8px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nav li a:hover:before {
	width: 70%;
}

.shrink .nav li a:before {
	bottom: -4px;
}

.header-phone {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	color: #fff;
}

.phone-txt {
	font-size: 18px;
	font-weight: 300;
	margin-left: 15px;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.shrink .phone-txt {
	font-size: 14px;
}

.phone-img {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.phone-img img {
	position: relative;
	width: 12px;
	height: 12px;
}

.phone-img:before {
	width: 30px;
	height: 30px;
	background: #FB5B21;
	border-radius: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.header-phone:hover .phone-img:before {
	transform: scale(1.2);
}

.burger {
	position: relative;
	width: 35px;
	height: 25px;
	cursor: pointer;
	display: none;
	justify-content: center;
	flex-direction: column;
	z-index: 999;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.burger::before,
.burger span,
.burger::after {
	width: 100%;
	height: 2px;
	display: block;
	background: #fff;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}

.burger:before,
.burger:after {
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	content: "";
}

.burger::before {
	top: 0px;
}

.burger span {
	position: relative;
	width: 75%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.burger:after {
	top: auto;
	bottom: 0;
	width: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* Hover */
.burger:hover span {
	width: 100%;
}

.burger:hover:after {
	width: 100%;
}

/* Click */
.burger.cross span {
	opacity: 0;
}

.burger.cross:before,
.burger.cross:after {
	top: 50%;
	width: 100%;
}

.burger.cross:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
	/*for IE*/
}

.burger.cross:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
	/*for IE*/
}

.burger:focus {
	outline: none;
}

/* -------------------------------- 

nav-social

-------------------------------- */
.nav-social {
	position: fixed;
	top: 0;
	left: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-social li {
	margin: 8px 0;
}

.nav-social li a {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-social li a img {
	position: relative;
	width: 16px;
	height: 16px;
}

.nav-social li a:before {
	border: 1px solid #FB5B21;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nav-social li a:hover:before {
	transform: scale(1.15);
}

/* -------------------------------- 

scroll-fixed

-------------------------------- */
.scroll-fixed {
	position: fixed;
	bottom: 30px;
	left: 45px;
	z-index: 2;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-progress-circle {
	position: relative;
	width: 50px;
	height: 50px;
	fill: none;
	stroke: #FB5B21;
	stroke-width: 6px;
	stroke-dashoffset: 125.6811294556;
	stroke-dasharray: 125.6811294556;
	background-color: transparent;
	border-radius: 50%;
}

.scroll-bg {
	position: absolute;
	width: 50px;
	height: 50px;
}

/* -------------------------------- 

intro

-------------------------------- */
#intro {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100vh;
}

.video-mob {
	display: none;
}

#intro video {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.canvas {
	position: fixed;
	top: 0;
	left: 0;
}

.intro-slider {
	position: relative;
	height: 100vh;
}

.slider-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	mix-blend-mode: screen;
	opacity: 0.35;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slider-content {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.intro-item {
	position: relative;
}

.slider-content h2 {
	font-size: 64px;
	width: 70%;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateY(-100%);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
}

.slider-content p {
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 40px 0;
	opacity: 0;
	transform: translateY(100%);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	width: 70%;
}

.slider-content p a {
	font-weight: 600;
	color: #FB5B21;
}

.slider-content .btn {
	opacity: 0;
	transform: translateY(100%);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.25s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.35s;
}

.slick-active .slider-content h2,
.slick-active .slider-content p,
.slick-active .slider-content .btn {
	opacity: 1;
	transform: translateY(0%);
}

.btn {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	text-align: center;
	height: 78px;
	padding: 0 45px 0 30px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	background: transparent;
	border: 0;
	cursor: pointer;
}

.btn span {
	position: relative;
}

.btn:before {
	background: #FB5B21;
	width: 40%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.btn:after {
	background: url(../img/arrow.svg) no-repeat center center;
	background-size: contain;
	width: 12px;
	height: 12px;
	right: 20px;
	opacity: 0;
	transform: translateX(-100%);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.btn:hover:after {
	opacity: 1;
	transform: translateX(0%);
}

.btn:hover:before {
	width: 100%;
}

/* -------------------------------- 

slick

-------------------------------- */
.slick-slider,
.slick-track {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}

.slick-list {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slider {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	margin: 0;
	padding: 0;
}

.slider-nav .slick-list {
	padding: 70px 0 !important;
}

.slick-list:focus {
	outline: 0;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	top: 0;
	left: 0;
	display: flex;
}

.slick-track:after,
.slick-track:before {
	display: table;
	content: ''
}

.slick-track:after {
	clear: both;
}

.slick-slide {
	display: none;
	height: 100%;
	min-height: 1px;
	float: none;
	outline: none;
}

[dir=rtl] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
	width: 100%;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: inline-block;
	position: relative;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-initialized .slick-slide.slick-active {
	opacity: 1;
}

.slick-dots,
.slick-next,
.slick-prev {
	position: absolute;
	display: block;
	padding: 0;
	z-index: 1;
}

.slick-next,
.slick-prev {
	font-size: 0;
	line-height: 0;
	top: -90px;
	width: 55px;
	height: 55px;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slick-prev {
	left: 0px;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.slick-next {
	left: 80px;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.slick-next:before,
.slick-prev:before {
	width: 100%;
	height: 100%;
	background: #FB5B21;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slick-next img,
.slick-prev img {
	position: relative;
	width: 15px;
	height: 15px;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slick-next:hover img {
	transform: translateX(8px);
}

.slick-prev:hover img {
	transform: translateX(-8px);
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: .25;
}

.slick-disabled {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

[dir=rtl] .slick-prev {
	right: -25px;
	left: auto;
}

[dir=rtl] .slick-next {
	right: auto;
	left: -25px;
}

.slick-dots {
	position: absolute;
	top: 0;
	right: 50px;
	width: 55px;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slick-dots li {
	position: relative;
	height: 3px;
	width: 100%;
	cursor: pointer;
	padding: 15px 0;
}

.slick-dots li button {
	position: relative;
	font-size: 0;
	line-height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	color: transparent;
	border: 0;
}

.slick-dots li button:before {
	width: 60%;
	height: 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slick-dots li.slick-active button:before {
	width: 100%;
	background: #FB5B21;
}

/* -------------------------------- 

b1

-------------------------------- */
#b1 {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.b1-flex {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.b1-content {
	position: relative;
	padding: 70px 0 70px 250px;
	width: 50%;
}

.b1-bg {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	object-fit: cover;
	width: 65%;
	object-position: left;
}

.title {
	font-size: 36px;
	margin: 0 0 40px 0;
	text-transform: uppercase;
}

#stats-counter {
	position: absolute;
	right: 250px;
	bottom: 70px;
}

.stats-col {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.stats-counter-value {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 72px;
	font-weight: 700;
	color: #FB5B21;
	line-height: 1;
	display: block;
	text-align: center;
	margin: 0 10px 0 0;
}

.stats-title {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	/* min-width: 100px; */
	color: #FB5B21;
	line-height: 1;
}

/* -------------------------------- 

b2

-------------------------------- */
#b2 {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.b2-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 63%;
	height: 100%;
	object-fit: cover;
	object-position: right;
	mix-blend-mode: screen;
	opacity: 0.85;
}

.b2-flex {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.b2-list {
	position: relative;
	width: 58%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.b2-item {
	display: flex;
	align-items: center;
	width: 46%;
	padding: 0 0 25px 0;
}

.b2-img {
	position: relative;
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	flex: 0 0 auto;
}

.b2-img:before {
	width: 55px;
	height: 55px;
	border: 1px solid #FB5B21;
	border-radius: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.b2-item:hover .b2-img:before {
	transform: scale(1.15);
}

.b2-img img {
	position: relative;
	width: 24px;
	height: 24px;
}

.b2-txt {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.section {
	padding: 70px 0;
}

/* -------------------------------- 

b3

-------------------------------- */
#b3 {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.b3-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 63%;
	object-fit: cover;
	object-position: left;
	height: 100%;
}

.b3-grid {
	position: relative;
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.b3-item {
	position: relative;
	width: 49.5%;
	padding: 15px 30px;
	border: 1px solid rgba(255, 255, 255, 0.35);
	display: flex;
	align-items: center;
	margin: 0 0 1% 0;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.b3-txt {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	width: 100%;
}

.b3-num {
	font-size: 48px;
	color: #FB5B21;
	margin: 0;
	margin-right: 25px;
	flex: 0 0 auto;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	line-height: 1.2;
}

.b3-item:hover {
	border: 1px solid rgba(255, 255, 255, 0.75);
}

.b3-item:hover .b3-num {
	color: #fff;
}

/* -------------------------------- 

b4

-------------------------------- */
#b4 {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#b4 .title {
	text-align: right;
}

.slider-item {
	margin: 0 8px;
	overflow: hidden;
	background: #000;
	color: #fff;
}

.item-content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.item-content h3 {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateY(-30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.item-content p {
	margin: 0 0 20px 0;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.item-content .btn {
	height: 60px;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
}

.slider-item:hover .item-content h3,
.slider-item:hover .item-content p,
.slider-item:hover .item-content .btn {
	opacity: 1;
	transform: translateY(0);
}

.slider-item img {
	-webkit-transition: 0.25s linear 0.15s;
	transition: 0.25s linear 0.15s;
}

.slider-item:hover img {
	opacity: 0.2;
	filter: grayscale(1);
}

/* -------------------------------- 

b5

-------------------------------- */
#b5 {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 30px 0;
	/* display: none; */
}

.title-group {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.title-group .title {
	margin: 0;
}

.b5-grid {
	position: relative;
	display: flex;
	margin: 0 -0.5%;
}

.b5-item {
	position: relative;
	width: 32.333%;
	margin: 0 0.5%;
	background: #000;
	color: #fff;
}

.b5-item img {
	width: 100%;
	display: block;
}

.b5-item:hover .item-content h3,
.b5-item:hover .item-content p,
.b5-item:hover .item-content .btn {
	opacity: 1;
	transform: translateY(0);
}

.b5-item img {
	-webkit-transition: 0.25s linear 0.15s;
	transition: 0.25s linear 0.15s;
}

.b5-item:hover img {
	opacity: 0.2;
	filter: grayscale(1);
}

/* -------------------------------- 

footer

-------------------------------- */
footer {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.footer-flex {
	position: relative;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-link {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.footer-link li,
.footer-link li a {
	position: relative;
	font-size: 16px;
	margin-left: 40px;
	display: flex;
	align-items: center;
	color: #fff;
}

.ico-img {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	flex: 0 0 auto;
}

.ico-img img {
	position: relative;
	width: 12px;
	height: 12px;
}

.ico-img::before {
	width: 30px;
	height: 30px;
	background: #FB5B21;
	border-radius: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.footer-link li:hover .ico-img::before {
	transform: scale(1.15);
}

.footer-sub {
	display: flex;
	align-items: center;
}

.copy {
	font-size: 10px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 40px;
}

.develope {
	font-size: 10px;
	font-weight: 700;
	color: #fff;
}

.develope a {
	position: relative;
	color: #FB5B21;
}

.develope a::before {
	width: 0;
	height: 1px;
	background: #FB5B21;
	bottom: -6px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.develope a:hover::before {
	width: 100%;
}

.footer-logo {
	width: 210px;
}


/* -------------------------------- 

schedule

-------------------------------- */
#schedule {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 130px 0 70px 0;
}

.schedule-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	mix-blend-mode: screen;
	opacity: 0.85;
}

.schedule-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	mix-blend-mode: screen;
	opacity: 0.85;
}

.schedule-nav .slick-slider,
.schedule-nav .slick-track {
	margin: 0 0 20px 0;
}

.schedule-nav .slick-slide {
	height: 55px;
	display: flex;
	margin-right: 30px;
}

.schedule-nav .btn span {
	display: block;
	font-size: 16px;
}

.schedule-container {
	position: relative;
	background: #fff;
	color: #000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 40px;
}

.filter-grid {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.filter-close {
	display: none;
}

.filter-list {
	margin-right: 40px;
	width: 100%;
}

#btn-all {
	font-size: 12px;
	letter-spacing: 1px;
	color: #000;
	height: 40px;
}

#btn-all::before {
	background: rgba(0, 0, 0, 0.1);
}

#btn-all:after {
	background: url(../img/arrow2.svg) no-repeat center center;
	background-size: contain;
}

/** Custom Select **/

.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	clear: both;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	height: 40px;
	outline: none;
	padding-right: 40px;
	position: relative;
	text-align: left !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	align-items: center;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nice-select:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
	border-bottom: 1px solid rrgba(0, 0, 0, 0.8);
}

.nice-select:after {
	background: url(../img/arrow3.svg) no-repeat center center;
	background-size: contain;
	width: 6px;
	height: 6px;
	right: 0;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nice-select.open:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.nice-select.disabled {
	border-color: #ededed;
	color: #999;
	pointer-events: none;
}

.nice-select.disabled:after {
	border-color: #cccccc;
}

.nice-select.wide {
	width: 100%;
}

.nice-select.wide .list {
	left: 0 !important;
	right: 0 !important;
	height: auto;
	border: 0;
	max-height: 180px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.nice-select.right .list {
	left: auto;
	right: 0;
}

.nice-select.small {
	font-size: 12px;
	height: 36px;
	line-height: 34px;
}

.nice-select.small:after {
	height: 4px;
	width: 4px;
}

.nice-select.small .option {
	line-height: 34px;
	min-height: 34px;
}

.nice-select .list {
	background-color: #fff;
	box-shadow: 4px 4px 10px rgba(68, 68, 68, 0.11);
	box-sizing: border-box;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select .option {
	cursor: pointer;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	list-style: none;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	outline: none;
	text-align: left;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nice-select .option:hover,
.nice-select .option.selected.focus {
	background: #f1f2f6;
}

.nice-select .option.selected {
	font-weight: bold;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}

.form-group span.select,
.form-group span.current {
	margin-bottom: 0;
}

.schedule-table {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.table-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.acc-hidden {
	display: flex;
	flex-direction: column;
}

.table-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-right: 1px solid #B9B8B8;
	border-bottom: 1px solid #B9B8B8;
	height: 200px;
}

.table-item p {
	display: none;
	margin: 0;
	font-size: 12px;
	padding: 10px;
	flex-direction: column;
	height: 100%;
}

.table-item p span {
	display: block;
}

.table-item .name {
	font-weight: 700;
}

.item-header p {
	display: flex;
}

.table-column:first-of-type {
	width: 40%;
}

.table-column:first-of-type .table-item p {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-item .table-ico {
	display: block;
	width: 20px;
	height: 20px;
}

.item-header {
	background: rgba(0, 0, 0, 0.04);
}

.table-item.item-header {
	height: 40px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.hall1 {
	background: #FFF5BE;
}

.hall2 {
	background: #E7F2A4;
}

.table-item p .time-hidden {
	display: none;
}

/* -------------------------------- 

event

-------------------------------- */
#event {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 130px 0 70px 0;
	min-height: 100vh;
}

#event .b5-grid {
	flex-wrap: wrap;
}

#event .b5-item {
	margin: 0.5%;
}

/* -------------------------------- 

team

-------------------------------- */
#team {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	padding: 130px 0 70px 0;
}

.team-grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5%;
}

.team-item {
	position: relative;
	width: 32.333%;
	margin: 0.5%;
	background: #000;
	color: #fff;
}

.team-item img {
	width: 100%;
	display: block;
}

.team-content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.team-content h3 {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateY(-30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.team-content p {
	margin: 0 0 20px 0;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.team-content .btn {
	height: 60px;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
}

.team-item:hover .team-content h3,
.team-item:hover .team-content p,
.team-item:hover .team-content .btn {
	opacity: 1;
	transform: translateY(0);
}

.team-item img {
	-webkit-transition: 0.25s linear 0.15s;
	transition: 0.25s linear 0.15s;
}

.team-item:hover img {
	opacity: 0.2;
	filter: grayscale(1);
}

/* -------------------------------- 

team-work

-------------------------------- */
#team-work {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 120px 0;
	background: #000;
}

.work-bg {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.work-flex {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

.work-flex .title {
	margin-bottom: 20px;
}

.work-flex p {
	margin-bottom: 40px;
}

/* -------------------------------- 

form

-------------------------------- */
form h2 {
	font-size: 24px;
	margin-bottom: 20px;
	position: relative;
}

form p {
	font-weight: 500;
	margin-bottom: 20px;
}

.thank {
	font-size: 28px;
	color: #000;
	font-weight: 700;
	padding: 30px;
	text-align: center;
}

.form-group {
	position: relative;
	display: flex;
	align-items: center;
}

label.error {
	display: block;
	position: absolute;
	right: 0;
	background: #fff;
	border: 0;
	color: #000;
	padding: 6px 8px 6px 8px;
	text-align: center;
	font-size: 10px;
	line-height: 1;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

label.error::before {
	background: #fff;
	width: 7px;
	height: 7px;
	left: -4px;
	top: 8px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	display: block;
	width: 100%;
	height: 50px;
	padding: 0;
	border: 0;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

input::-webkit-input-placeholder {
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	font-weight: 500;
}

input::-moz-placeholder {
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	font-weight: 500;
}

input:-moz-placeholder {
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	font-weight: 500;
}

input:-ms-input-placeholder {
	font-family: 'Montserrat', sans-serif;
	color: #fff !important;
	font-weight: 500;
}

.agreement {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.agreement input {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.agreement label {
	text-align: left;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 40px;
	display: block;
	font-size: 12px;
	color: #fff;
	position: relative;
}

.agreement label a {
	font-weight: 600;
	color: #fff;
}

.agreement input.checkbox~label:before {
	background: url(../img/check-default2.svg) no-repeat center center;
	background-size: contain;
	width: 25px;
	height: 25px;
	transition: 0.25s ease-in-out;
	left: 0;
}

.agreement input.checkbox:checked~label:before {
	background: url(../img/check-active2.svg) no-repeat center center;
	background-size: contain;
}

#agreement-error:after {
	display: none;
}

form .btn {
	height: 55px;
	font-size: 12px;
	letter-spacing: 1px;
}

form .btn:before {
	background: #000;
}

/* -------------------------------- 

modal-box

-------------------------------- */
.modal,
.modal-box {
	z-index: 9999;
}

.modal-sandbox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	overflow: auto;
}

.modal-box {
	display: table;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.modal-body {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	z-index: 9999;
}

.modal_container {
	background: #fb5b21;
	padding: 40px 25px;
	margin: 0 auto;
	width: 40%;
	height: auto;
	position: relative;
	display: table;
	animation-name: modalbox;
	animation-duration: .3s;
	animation-timing-function: ease-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	color: #fff;
}

/* Close Button */
.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	background: #fff;
	transform: translate3d(100%, 0, 0);
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.close-modal img {
	width: 12px;
	height: 12px;
}

.close-modal:hover img {}

/* Animation */
@-webkit-keyframes modalbox {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes modalbox {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

/* -------------------------------- 

workout

-------------------------------- */
#workout {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 130px 0 70px 0;
}

.workout-grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5%;
}

.workout-item {
	position: relative;
	width: 49%;
	margin: 0.5%;
	background: #000;
	color: #fff;
}

.workout-item img {
	width: 100%;
	display: block;
}

.workout-content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.workout-content h3 {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateY(-30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.workout-content p {
	margin: 0 0 20px 0;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.workout-content p span {
	display: block;
	font-weight: 700;
	margin-top: 10px;
}

.workout-content .btn {
	height: 60px;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0;
	transform: translateY(30px);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.15s;
}

.workout-item:hover .workout-content h3,
.workout-item:hover .workout-content p,
.workout-item:hover .workout-content .btn {
	opacity: 1;
	transform: translateY(0);
}

.workout-item img {
	-webkit-transition: 0.25s linear 0.15s;
	transition: 0.25s linear 0.15s;
}

.workout-item:hover img {
	opacity: 0.2;
	filter: grayscale(1);
}

/* -------------------------------- 

contact

-------------------------------- */
#contact {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #fff;
}

#contact::before {
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.74) 41.15%, rgba(0, 0, 0, 0) 100%);
	width: 100%;
	height: 140px;
	top: 0;
	left: 0;
	z-index: 1;
}

#contact::after {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.96) 0%, rgba(0, 0, 0, 0) 93.9%);
	width: 30%;
	height: 100%;
	top: 0;
	left: 0;
}

#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	filter: grayscale(1);
}

#zoom-in {
	width: 50px;
	height: 50px;
}

#zoom-out {
	width: 50px;
	height: 50px;
}

.btn-map {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-map span {
	position: relative;
}

.btn-map:before {
	background: #fff;
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.btn-map:hover:before {
	width: 100%;
}

.btn-map:hover {
	color: #000;
}

.contact-info {
	position: absolute;
	z-index: 2;
	top: 25%;
	left: 250px;
	background: #fff;
	color: #000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 40px;
	width: 25%;
	overflow: hidden;
}

.contact-info h1 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.contact-info h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.contact-item {
	position: relative;
	margin: 15px 0;
	display: flex;
	align-items: center;
}

.contact-img {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	flex: 0 0 auto;
}

.contact-img img {
	position: relative;
	width: 12px;
	height: 12px;
	display: block;
}

.contact-img:before {
	width: 30px;
	height: 30px;
	background: #FB5B21;
	border-radius: 50%;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.contact-item:hover .contact-img:before {
	transform: scale(1.15);
}

.contact-item p {
	width: 100%;
	margin: 0;
	font-size: 14px;
}

.contact-item p span {
	font-weight: 700;
}

.contact-item li {
	width: 100%;
	margin: 10px 0;
	font-size: 14px;
}

.contact-item a {
	color: #000;
}

.time-detail {
	position: relative;
	margin: 15px 0 0 0;
	padding-top: 15px;
	border-top: 1px dashed #B9B8B8;
}

.time-item {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.time-detail p {
	font-size: 18px;
	color: #FB5B21;
	font-weight: 700;
	margin: 0;
}

.contact-img.time-img:before {
	background: transparent;
	border: 1px solid #FB5B21;
}

.time-detail:hover .time-img:before {
	transform: scale(1.15);
}

.contact-list {
	margin-bottom: 25px;
}

.hiddden-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(-100%);
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.hiddden-container.open {
	transform: translateX(0%);
}

.hiddden-container .scroll-block {
	max-height: 80%;
}

.close-hidden {
	position: absolute;
	width: 34px;
	height: 34px;
	background: rgba(0, 0, 0, 0.04);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.close-hidden img {
	width: 10px;
	height: 10px;
}

.hiddden-container h3 {
	font-size: 18px;
	text-transform: none;
	color: #FB5B21;
}

.hiddden-container li {
	position: relative;
	font-size: 14px;
	padding-left: 25px;
	margin: 10px 0;
	display: flex;
	align-items: center;
}

.hiddden-container li span {
	font-weight: 700;
}

.hiddden-container li:before {
	background: #FB5B21;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	left: 0;
}

/* -------------------------------- 

event-detail

-------------------------------- */
#event-detail {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.detail-flex {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.detail-flex {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100vh;
	padding: 130px 0 70px 0;
}

.detail-txt {
	width: 50%;
}

.detail-img {
	position: relative;
	display: block;
	width: 45%;
	height: 100%;
	object-fit: contain;
}

.detail-txt h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 20px 0;
}

.detail-txt li {
	position: relative;
	font-size: 14px;
	padding-left: 25px;
	margin: 10px 0;
	display: flex;
	align-items: center;
}

.detail-txt ul {
	margin: 20px 0;
}

.detail-txt li span,
.detail-txt p span {
	font-weight: 700;
}

.detail-txt li:before {
	background: #FB5B21;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	left: 0;
}

.btn.btn-back {
	margin-top: 30px;
	width: 160px;
	padding: 0 30px 0 45px;
	justify-content: flex-end;
}

.btn.btn-back::before {
	left: auto;
	right: 0;
}

.btn.btn-back::after {
	background: url(../img/arrow4.svg) no-repeat center center;
	background-size: contain;
	right: auto;
	left: 20px;
	transform: translateX(100%);
}

.btn.btn-back:hover::after {
	opacity: 1;
	transform: translateX(0%);
}

/* -------------------------------- 

event-gallery

-------------------------------- */
#event-gallery {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.event-grid {
	position: relative;
	margin: 0 -0.5%;
	display: flex;
	flex-wrap: wrap;
}

.event-item {
	position: relative;
	overflow: hidden;
	width: 33.333%;
	padding: 0.5%;
}

.event-item a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}

.event-item a::before {
	background: url(../img/search.svg) no-repeat center center;
	background-size: contain;
	width: 115px;
	height: 115px;
	transform: scale(0);
	z-index: 1;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.event-item img {
	width: 100%;
	display: block;
	-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.event-item:hover a::before {
	transform: scale(1);
}

.event-item:hover img {
	opacity: 0.25 !important;
	filter: grayscale(1);
}

/* -------------------------------- 

team-detail

-------------------------------- */
#team-detail {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* -------------------------------- 

workout-detail

-------------------------------- */
#workout-detail {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	padding: 130px 0 70px 0;
}

.workout-txt {
	position: relative;
	width: 60%;
}

.workout-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	mix-blend-mode: screen;
	opacity: 0.25;
}

.workout-txt .title {
	margin: 0 0 20px 0;
}

.subtitle {
	font-size: 24px;
	margin-bottom: 40px;
	line-height: 1.4;
}

.workout-txt h3 {
	font-size: 18px;
	margin: 20px 0;
}

.workout-txt ul {
	margin: 20px 0;
	padding-left: 40px;
}

.workout-txt li {
	font-size: 14px;
	line-height: 1.6;
	margin: 10px 0;
	list-style: decimal-leading-zero;
}

/* -------------------------------- 

animation

-------------------------------- */
.left-animation {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	animation: hor 0.45s ease-in-out 0.25s forwards;
	-webkit-animation: hor 0.45s ease-in-out 0.25s forwards;
}

.right-animation {
	opacity: 0;
	visibility: hidden;
	transform: translateX(100%);
	animation: hor 0.45s ease-in-out 0.25s forwards;
	-webkit-animation: hor 0.45s ease-in-out 0.25s forwards;
}

@-webkit-keyframes hor {
	100% {
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes hor {
	100% {
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
}

.bottom-animation {
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
	animation: vert 0.45s ease-in-out 0.25s forwards;
	-webkit-animation: vert 0.45s ease-in-out 0.25s forwards;
}

.top-animation {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100%);
	animation: vert 0.45s ease-in-out 0.25s forwards;
	-webkit-animation: vert 0.45s ease-in-out 0.25s forwards;
}

@-webkit-keyframes vert {
	100% {
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes vert {
	100% {
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}

/* -------------------------------- 

адаптив

-------------------------------- */
@media (max-width: 1600px) {
	.container {
		padding: 0 150px;
	}

	.b1-content {
		padding: 70px 0 70px 150px;
	}

	.btn {
		height: 55px;
		padding: 0 40px 0 20px;
		font-size: 12px;
		letter-spacing: 2px;
	}

	.btn::before {
		width: 35%;
	}

	.item-content .btn,
	.team-content .btn {
		height: 45px;
		font-size: 10px;
	}

	.flex-header {
		padding: 5px 30px;
	}

	.phone-txt {
		font-size: 16px;
	}

	.nav li {
		font-size: 11px;
	}

	.phone-img,
	.phone-img:before {
		width: 25px;
		height: 25px;
	}

	.phone-img img {
		width: 8px;
		height: 8px;
	}

	.logo {
		width: 170px;
	}

	.nav-social {
		left: 30px;
	}

	.scroll-fixed {
		left: 25px;
	}

	.slider-content h2 {
		font-size: 50px;
	}

	.slider-content p {
		font-size: 20px;
	}

	.stats-counter-value {
		font-size: 64px;
	}

	.stats-title {
		font-size: 20px;
	}

	#stats-counter {
		right: 150px;
	}

	.b3-num {
		font-size: 42px;
	}

	.item-content h3 {
		font-size: 18px;
	}

	.footer-link li,
	.footer-link li a {
		font-size: 14px;
	}

	.slick-dots {
		right: 30px;
	}

	.schedule-container {
		padding: 25px 40px;
	}

	.schedule-nav .btn span {
		font-size: 14px;
	}

	.table-item {
		height: 210px;
	}

	.contact-info {
		top: 20%;
		left: 150px;
		background: #fff;
		padding: 30px;
		width: 30%;
	}

	.contact-info h1 {
		margin-bottom: 20px;
	}










}

@media (max-width: 1400px) {
	.slider-content h2 {
		font-size: 46px;
	}

	.slick-dots {
		width: 45px;
	}

	.slick-dots li {
		padding: 10px 0;
	}

	.title {
		font-size: 32px;
		margin: 0 0 30px 0;
	}

	.stats-counter-value {
		font-size: 56px;
	}

	.stats-title {
		font-size: 18px;
	}

	.b2-txt {
		font-size: 14px;
	}

	.b2-item {
		padding: 0 0 15px 0;
	}

	.b2-img,
	.b2-img:before {
		width: 40px;
		height: 40px;
	}

	.b2-img img {
		width: 18px;
		height: 18px;
	}

	.b3-txt {
		font-size: 14px;
	}

	.item-content h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.slick-next,
	.slick-prev {
		top: -70px;
		width: 45px;
		height: 45px;
	}

	.slick-next img,
	.slick-prev img {
		width: 10px;
		height: 10px;
	}

	.nice-select {
		font-size: 12px;
		height: 35px;
	}

	.nice-select .option {
		font-size: 12px;
	}

	.table-item p {
		font-size: 11px;
	}

	.team-content h3 {
		font-size: 20px;
	}

	.workout-content h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.workout-txt {
		width: 70%;
	}

	.table-item {
		height: 190px;
	}









}

@media (max-width: 1200px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		width: 40%;
		height: 100%;
		justify-content: center;
		background: #000;
		box-shadow: 4px 0 6px rgba(0, 0, 0, 0.25);
		transform: translateX(-100%);
		-webkit-transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
		transition: 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
		z-index: 1;
	}

	.nav.show {
		transform: translateX(0%);
	}

	.nav li {
		font-size: 14px;
		margin: 0;
	}

	.nav li a {
		padding: 10px 0;
	}

	.nav li a::before {
		display: none;
	}

	.burger {
		display: flex;
		margin-left: 40px;
	}

	.logo {
		width: 140px;
	}

	.header-link {
		flex-direction: row;
		align-items: center;
	}

	.header-phone {
		margin-bottom: 0;
	}

	.container {
		padding: 0 100px;
	}

	.scroll-fixed,
	.scroll-bg,
	.scroll-progress-circle {
		width: 40px;
		height: 40px;
	}

	.shrink .logo {
		width: 100px;
	}

	.slider-content h2 {
		font-size: 42px;
	}

	#stats-counter {
		right: 100px;
	}

	.b1-content {
		padding: 70px 0 70px 100px;
		width: 60%;
	}

	.b2-list {
		width: 75%;
	}

	.b3-grid {
		width: 80%;
	}

	.b1-bg {
		width: 75%;
	}

	.slider-item img {
		opacity: 0.2;
		filter: grayscale(1);
	}

	.slider-item .item-content h3,
	.slider-item .item-content p,
	.slider-item .item-content .btn {
		opacity: 1;
		transform: translateY(0);
	}

	#b5 .b5-item:last-of-type {
		display: none;
	}

	.b5-item {
		width: 48%;
		margin: 0 1%;
	}

	.b5-grid {
		margin: 0 -1%;
	}

	.footer-flex {
		flex-direction: column;
	}

	.footer-content {
		align-items: center;
	}

	.footer-link {
		flex-direction: column;
	}

	.footer-link li,
	.footer-link li a {
		margin: 0;
	}

	.footer-link li {
		margin: 0 0 20px 0;
	}

	.footer-link li:last-child {
		margin: 0;
	}

	.footer-sub {
		flex-direction: column;
		text-align: center;
	}

	.copy {
		margin: 15px 0;
	}

	.schedule-nav .btn span {
		font-size: 12px;
		letter-spacing: 1px;
	}

	.filter-grid {
		flex-direction: column;
		align-items: flex-start;
	}

	.filter-list {
		margin: 0 0 20px 0;
	}

	.table-column:first-of-type {
		display: none;
	}

	.table-item {
		border: none;
		height: 100%;
	}

	.table-item.item-header {
		height: 55px;
	}

	.table-item p {
		font-size: 14px;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.schedule-table {
		flex-direction: column;
	}

	.table-column {
		margin: 6px 0;
	}

	.table-item p {
		margin: 0 0 4px 0;
	}

	.contact-info {
		top: 20%;
		left: 100px;
		padding: 30px;
		width: 35%;
	}

	.time-detail p {
		font-size: 14px;
	}

	.b5-item img {
		opacity: 0.3;
		/* filter: grayscale(1); */
	}

	.b5-item .item-content h3,
	.b5-item .item-content p,
	.b5-item .item-content .btn {
		opacity: 1;
		transform: translateY(0);
	}

	.event-item a::before {
		display: none;
	}

	.team-item {
		width: 49%;
	}

	.team-item img {
		opacity: 0.3;
		/* filter: grayscale(1); */
	}

	.team-item .team-content h3,
	.team-item .team-content p,
	.team-item .team-content .btn {
		opacity: 1;
		transform: translateY(0);
	}

	.workout-grid {
		margin: 0;
	}

	.workout-item {
		width: 100%;
		margin: 0 0 10px 0;
	}

	.workout-item img {
		opacity: 0.5;
		filter: grayscale(1);
	}

	.workout-item .workout-content h3,
	.workout-item .workout-content p,
	.workout-item .workout-content .btn {
		opacity: 1;
		transform: translateY(0);
	}

	.workout-txt {
		width: 100%;
	}

	.work-flex {
		width: 80%;
		margin: 0 auto;
	}

	.modal_container {
		width: 55%;
	}

	.table-item p .time-hidden {
		display: block;
	}

	.time-hidden {
		font-weight: 600;
		padding-top: 4px;
		border-top: 1px dashed rgba(0, 0, 0, 0.2);
		margin-top: 4px;
		width: 100%;
	}















}

@media (max-width: 991px) {
	.nav-social {
		left: 0;
		position: relative;
		flex-direction: row;
	}

	.nav-social li,
	.phone-img {
		margin: 0 8px;
	}

	.phone-txt {
		display: none;
	}

	.phone-img,
	.phone-img::before {
		width: 40px;
		height: 40px;
	}

	.container {
		padding: 0 30px;
	}

	.b1-content {
		padding: 70px 0 70px 30px;
	}

	#stats-counter {
		right: 30px;
	}

	.b2-bg {
		width: 80%;
	}

	.b2-list {
		width: 100%;
	}

	.b3-grid {
		width: 100%;
	}

	.b3-bg {
		width: 83%;
	}

	.nav {
		width: 50%;
	}

	.phone-img img {
		width: 16px;
		height: 16px;
	}

	#schedule,
	#event,
	.detail-flex,
	#team,
	#workout,
	#workout-detail {
		padding: 100px 0 70px 0;
	}

	.detail-flex {
		flex-direction: column-reverse;
		height: auto;
	}

	.detail-txt {
		width: 100%;
	}

	.detail-img {
		width: 100%;
		margin-bottom: 40px;
	}

	#contact::after {
		display: none;
	}

	#contact::before {
		height: 100px;
	}

	.contact-info {
		top: 0;
		left: 0;
		padding: 40px 30px;
		width: 100%;
		position: relative;
	}

	#contact {
		height: auto;
	}

	#map {
		height: 70vh;
	}

	.event-item {
		width: 50%;
	}

	#team-detail .detail-flex {
		flex-direction: column;
	}

	.subtitle {
		font-size: 18px;
		margin-bottom: 30px;
	}

	#team-work {
		padding: 70px 0;
	}

	.modal_container {
		width: 75%;
	}


















}

@media (max-width: 767px) {
	.flex-header {
		padding: 5px 15px;
	}

	.burger {
		margin-left: 20px;
	}

	.logo {
		width: 100px;
	}

	.shrink .logo {
		width: 80px;
	}

	.nav-social li a,
	.nav-social li a::before,
	.phone-img,
	.phone-img::before {
		width: 30px;
		height: 30px;
	}

	.slider-content h2 {
		font-size: 24px;
		margin: 0 0 10px 0;
	}

	.slider-content p {
		font-size: 16px;
		margin: 0 0 20px 0;
	}

	.slick-dots {
		right: 15px;
	}

	.scroll-fixed {
		left: 15px;
		bottom: 15px;
	}

	.scroll-fixed,
	.scroll-bg,
	.scroll-progress-circle {
		width: 30px;
		height: 30px;
	}

	.btn {
		height: 45px;
		padding: 0 35px 0 15px;
		font-size: 10px;
	}

	.b1-content {
		padding: 40px 15px 15px 15px;
		width: 100%;
	}

	.b1-bg {
		width: 85%;
	}

	.title {
		font-size: 24px;
		margin: 0 0 20px 0;
	}

	#stats-counter {
		right: 0;
		position: relative;
		bottom: 0;
	}

	.b1-flex {
		flex-direction: column;
	}

	#stats-counter {
		right: 0;
		position: relative;
		bottom: 0;
		padding: 0 15px 40px 15px;
	}

	.stats-counter-value {
		min-width: 115px;
	}

	.section {
		padding: 40px 0;
	}

	.container {
		padding: 0 15px;
	}

	.b3-item {
		width: 100%;
		padding: 15px;
	}

	.slick-next,
	.slick-prev {
		top: -55px;
	}

	.title-group {
		margin-bottom: 20px;
	}

	.schedule-container {
		padding: 25px 15px;
	}

	#schedule,
	#event,
	.detail-flex,
	#team,
	#workout,
	#workout-detail {
		padding: 70px 0 40px 0;
	}

	#map {
		height: 130vh;
	}

	.team-content h3 {
		font-size: 18px;
	}

	.team-content p {
		margin: 0 0 10px 0;
	}

	.modal_container {
		width: 95%;
	}

	.close-modal {
		transform: translate3d(0, 0, 0);
	}

	.video-mob {
		display: block;
	}

	.video-desc {
		display: none;
	}

	#intro {
		height: auto;
	}












}

@media (max-width: 480px) {
	.burger {
		margin-left: 8px;
	}

	.logo {
		width: 80px;
	}

	.slick-dots {
		top: auto;
		flex-direction: row;
		bottom: 20px;
		right: 15px;
		height: auto;
		width: 50%;
	}

	.slider-content h2 {
		font-size: 28px;
		width: 100%;
	}

	.slider-content p {
		width: 100%;
	}

	.b2-item {
		width: 100%;
	}

	.b3-item {
		margin: 0 0 10px 0;
	}

	.slider-item {
		margin: 0;
	}

	.b5-grid {
		margin: 0;
		flex-wrap: wrap;
	}

	.b5-item {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.b5-item:last-of-type {
		margin: 0;
	}

	.footer-logo {
		width: 60%;
		margin-bottom: 20px;
	}

	.footer-link {
		align-items: center;
		text-align: center;
	}

	.footer-link li,
	.footer-link li a {
		flex-direction: column;
	}

	.ico-img {
		margin: 0 0 10px 0;
	}

	.nav {
		width: 100%;
	}

	.scroll-fixed:before {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.75);
	}

	.footer-flex {
		padding: 20px 0 40px 0;
	}

	.schedule-nav .slick-slide {
		margin-right: 125px;
	}

	.schedule-nav .slick-next,
	.schedule-nav .slick-prev {
		top: 0;
	}

	.schedule-nav .slick-next {
		left: auto;
		right: 0;
	}

	.schedule-nav .slick-prev {
		left: auto;
		right: 70px;
	}

	#event .b5-item {
		margin: 0 0 10px 0;
	}

	#map {
		height: 100vh;
	}

	.contact-info {
		padding: 40px 15px;
	}

	.team-grid {
		margin: 0;
	}

	.team-item {
		width: 100%;
		margin: 0 0 10px 0;
	}

	.detail-img {
		margin-bottom: 25px;
	}

	.workout-content p {
		display: none;
	}

	.workout-content {
		padding: 20px;
	}

	.workout-content h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.work-flex {
		width: 100%;
	}

	.modal_container {
		padding: 40px 15px 10px rgba(0, 0, 0, 0.35);
	}
















}

/*****/
.hall3 {
	background: #ffcc9c;
}

.hall4 {
	background: #fcd4f6;
}

.item-header.active {
	background: #FB5B21;
	color: #fff;
}

#event-detail a {
	color: #FB5B21;
	font-weight: bold;
}

.btn-back {
	color: #ffffff !important;
}

#b1 .title {
	margin-top: 40px;
}