{% load static %}
{% load itm_main_tags %}
{% load thumbnail %}
{% load main_tags %}

<footer>
    <div class="container">
	    <div class="footer-flex">
	        <img class="lazyload footer-logo" data-src="{% static 'global/img/logo.svg' %}" alt="img">
			<div class="footer-content">
                {% html_block footer-content %}
	            <ul class="footer-link">
				    <li><span class="ico-img"><img src="/static/global/img/home.svg" alt="ico"></span><span class="ico-txt">Рязань, р-он Дашково-песочня, ул. Васильевская, д. 7</span></li>
					<li><a href="tel: 84912559594" class="footer-phone"><span class="ico-img"><img src="/static/global/img/phone.svg" alt="ico"></span><span class="ico-txt">+7 (4912) 55-95-94</span></a></li>
				</ul>
                {% end_html_block %}
				<div class="footer-sub">
				    <p class="copy">© Эволюция, <script type="text/javascript">document.write(new Date().getFullYear());</script>. Все права защищены.</p>
				    {% html_block development %}
                    <p class="develope">РАЗРАБОТКА И ПОДДЕРЖКА ПРОЕКТА  - <a href="#">студия ITMedia</a></p>
                    {% end_html_block %}
				</div>
            </div>
        </div>
    </div>
</footer>

{% if request.path == '/team/' %}
<!-- Modal feed -->
<div class="modal" id="feed">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-body">
		    <div class="modal_container">
	            <div class="close-modal"><img src="/static/global/img/close2.svg" alt="img"></div>
			    <form id="contactform" action="{% url 'team:requestview-frm' %}" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
			        <h2>Оставить заявку</h2>
					<div class="form-group">
			            <input type="text" placeholder="Как вас зовут? *" name="name" required="required">
				    </div>
			        <div class="form-group">
			            <input type="tel" placeholder="Номер телефона *" name="phone" required="required">
				    </div>
				    <div class="agreement">
			            <input type="checkbox" id="agreement" class="checkbox" name="agreement" required="required" checked>
			            <label for="agreement" class="agrement-txt">Нажимая кнопку «Оставить заявку», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных</label>
			        </div>
                    <button name="submit" type="submit" class="btn" value="оставить заявку"><span>оставить заявку</span></button>
                </form>
             <span class="answers" style="color: #ffffff;"></span>
		    </div>
        </div>
    </div>
</div>
{% endif %}

<div class="scroll-fixed">
    <img class="scroll-bg" src="{% static 'global/img/scroll.svg' %}" alt="img">
    <svg class="scroll-progress-circle" viewBox="0 0 40 40" fill="none">
    <path d="M20 0C14.6957 0 9.60859 2.10714 5.85786 5.85786C2.10714 9.60859 0 14.6957 0 20C0 25.3043 2.10714 30.3914 5.85786 34.1421C9.60859 37.8929 14.6957 40 20 40C25.3043 40 30.3914 37.8929 34.1421 34.1421C37.8929 30.3914 40 25.3043 40 20C40 14.6957 37.8929 9.60859 34.1421 5.85786C30.3914 2.10714 25.3043 0 20 0"/>
    </svg>
</div>